#hp-header{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-youtube, .fa-user, .fa-shopping-cart{
    color: white;
}

.hp-header-left-icons{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.hp-header-right-icons{
    width: 150px;
    display: flex;
    justify-content: flex-end; 
}  

.hp-header-right-icons .fas{
    margin: 0 12px;
}

/* ------------------------ end header stuff  ----------------------*/

.hp-navbar{
   background-color: #fffef2;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 0 30%;
}

.hp-navbar a{
    color: black;
    text-decoration: none;
    
}

#hp-main-image{
    background-image: url('/images/hp-img-temp.png');
    height: 580px;
    background-size: cover;
}

#mid-hp-vids{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#first-row-vid-thumbs img, #second-row-vid-thumbs img{
    margin: 0 25px 50px 25px;
}

#latest-vid-h2{
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#see-all-vids-btn{
    margin: 50px 0 80px 0;
    background-color: black;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
}

#sponsored-hp-ad{
    height: 200px;
    background-color: #515151;
    color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contest-section{
    background-image: url('/images/fake-contest-section.png');
    height: 500px;
    background-size: cover;
}

#hp-carousel-ads{
    height: 320px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}  

#hp-carousel-ads img{
    width: 275px;
}

#hp-carousel-ads .fas{
    color: #d6d6d6;
}

#hp-soc-med-prevs{
    display: flex;
    justify-content: center;
}

#facebook-div{
    margin: 50px;
    width: 240px;
    height: 350px;
  
}

#instagram-div{
    margin: 50px;
    width: 240px;
    height: 350px;
    background-image: url('/images/insta-prev.png');
}

#twitter-div{
    margin: 50px;
    width: 240px;
    height: 350px;
    background-image: url('/images/twitter-prev.png'); 
}

#hp-soc-med-section h2{
    margin: 50px 0;
}

#non-prof-section{
    background-color: #caa453;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 487px;
}

#nonprofimage{
    height: 100%;
}

#non-prof-left-side{
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

#non-prof-left-side h2{
    color: white;
    font-size: 28px;
}

#non-prof-left-side p{
    font-size: 12px;
}

#non-prof-left-side button{
    margin: 35px 0 0 0;
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
}

#hp-sponsored-add-bottom{
    height: 200px;
    background-color: #515151;
    color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hp-gallery-container{
    height: 700px;
    background-image: url('/images/hp-gallery.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1000px;
}

#hp-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hp-gallery button{

    background-color: black;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    margin: -40px 0 40px 0;
}

#hp-gallery h2{
    margin: 70px 0;
}

#join-the-club{
    height: 280px;
    background-color: #caa453;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-club-wrapper{
    width: 25%;
}

#join-club-wrapper h2{
    margin: 0;
}

#join-club-wrapper p{
    font-size: 12px;
}

#join-club-wrapper form{
    display: flex;
    justify-content: space-around;
}

#join-club-wrapper input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 50%;
    border-radius: 5px;
    padding: 0 10px;
}

#join-club-wrapper button{

    background-color: white;
    color: black;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    

}

::placeholder{
    color: white;
}

#the-footer{
    padding: 0 150px 0 25px;
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#the-footer a{
    color: white;
    text-decoration: none;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column i{
    margin: 5px;
}

#footer-img-contain{
    display: flex;
    align-items: center;
}

#the-footer input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 50%;
    border-radius: 5px;
    padding: 5px 10px;
}


#the-footer button{

    background-color: white;
    color: black;
    width: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    

}


