#hp-header{
    background-color: black;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-youtube, .fa-user, .fa-shopping-cart{
    color: white;
}

.hp-header-left-icons{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.hp-header-right-icons{
    width: 150px;
    display: flex;
    justify-content: flex-end; 
}  

.hp-header-right-icons .fas{

    margin: 0 12px;

}